# Swan Teleco Project

## Importing the Libraries
**Purpose:** Import necessary libraries for data manipulation, visualization, and machine learning.

In [39]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import metrics
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

## Loading the Dataset
**Purpose:** Load the project data from a CSV file into a pandas DataFrame.

In [40]:
df = pd.read_csv("1_-_Project_Data.csv")

In [41]:
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,Competitor had better devices

## Explore Data Structure
**Purpose:** Examine the datasetâ€™s columns, shape, null values, and data types.

In [42]:
df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Reason'],
      dtype='object')

In [43]:
df.shape

(7043, 31)

In [44]:
df.isnull().sum() # No nulls

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Reason         5174
dtype: int64

In [45]:
df.dtypes

CustomerID            object
Count                  int64
Country               object
State                 object
City                  object
Zip Code               int64
Lat Long              object
Latitude             float64
Longitude            float64
Gender                object
Senior Citizen        object
Partner               object
Dependents            object
Tenure Months          int64
Phone Service         object
Multiple Lines        object
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing     object
Payment Method        object
Monthly Charges      float64
Total Charges         object
Churn Label           object
Churn Value            int64
Churn Reason          object
dtype: object

In [46]:
# Set the â€˜CustomerIDâ€™ column as the index of the DataFrame for easier data manipulation.
df = df.set_index('CustomerID')
df.head()

,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Reason
CustomerID,,,,,,,,,,,,,,,,,,,,,
3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,Competitor made better offer
9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,Moved
9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,Moved
7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,Moved
0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,...,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,Competitor had better devices

## Preparing Data for Modeling

### Train Test Splitting

**Purpose:** Separate the target variable (â€˜Churn Valueâ€™) from the features and split the data into training and testing sets.## Train Test Splitting

In [48]:
y = df['Churn Value']  # Extract the target column
X = df.drop(columns=['Churn Value'])  # Drop the target column from the DataFrame

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [49]:
X_train.head()

,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Reason
CustomerID,,,,,,,,,,,,,,,,,,,,,
9776-CLUJA,1,United States,California,Sacramento,95829,"38.486502, -121.334051",38.486502,-121.334051,Female,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,77.50,3807.35,Yes,Competitor offered more data
3285-UCQVC,1,United States,California,Seaside,93955,"36.625114, -121.823565",36.625114,-121.823565,Female,No,...,Yes,No,No,Month-to-month,No,Credit card (automatic),28.60,973.55,Yes,Don't know
2371-JUNGC,1,United States,California,Cupertino,95014,"37.306612, -122.080621",37.306612,-122.080621,Male,No,...,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.25,208,No,NaN
1821-BUCWY,1,United States,California,Valyermo,93563,"34.39583, -117.734568",34.395830,-117.734568,Male,No,...,No,No,No,Two year,Yes,Mailed check,55.65,1653.85,No,NaN
9337-SRRNI,1,United States,California,Rio Oso,95674,"38.954144, -121.482536",38.954144,-121.482536,Male,No,...,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),25.30,1673.8,No,NaN

In [50]:
y.head()

CustomerID
3668-QPYBK    1
9237-HQITU    1
9305-CDSKC    1
7892-POOKP    1
0280-XJGEX    1
Name: Churn Value, dtype: int64

In [51]:
from sklearn.preprocessing import OrdinalEncoder

# Create encoder
oe = OrdinalEncoder(handle_unknown='use_encoded_value',
                                 unknown_value=-1)

# Fit on training data
oe.fit(df[['City']])

OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

In [52]:
# from sklearn.preprocessing import LabelEncoder
# def train_encode(df):
#     le = LabelEncoder()
#     le.fit(df['City'])
#     return le
# le = train_encode(X_train)

In [53]:
def cleaning_fct(df):
    df['Gender'] = df['Gender'].map({'Female':0, 'Male':1})
    df['Senior Citizen'] = df['Senior Citizen'].map({'No':0, 'Yes':1})
    df['Partner'] = df['Partner'].map({'No':0, 'Yes':1})
    df['Dependents'] = df['Dependents'].map({'No':0, 'Yes':1})
    df['Phone Service'] = df['Phone Service'].map({'No':0, 'Yes':1})
    df['Multiple Lines'] = df['Multiple Lines'].map({'No':0, 'Yes':1, 'No phone service':2})
    df['Internet Service'] = df['Internet Service'].map({'DSL':0, 'Fiber optic':1, 'No':2})
    df['Online Security'] = df['Online Security'].map({'No':0, 'Yes':1, 'No internet service':2})
    df['Online Backup'] = df['Online Backup'].map({'No':0, 'Yes':1, 'No internet service':2})
    df['Device Protection'] = df['Device Protection'].map({'No':0, 'Yes':1, 'No internet service':2})
    df['Tech Support'] = df['Tech Support'].map({'No':0, 'Yes':1, 'No internet service':2})
    df['Streaming TV'] = df['Streaming TV'].map({'No':0, 'Yes':1, 'No internet service':2})
    df['Streaming Movies'] = df['Streaming Movies'].map({'No':0, 'Yes':1, 'No internet service':2})
    df['Contract'] = df['Contract'].map({'Month-to-month':0, 'Two year':1, 'One year':2})
    df['Paperless Billing'] = df['Paperless Billing'].map({'No':0, 'Yes':1})
    df['Payment Method'] = df['Payment Method'].map({'Mailed check':0, 'Electronic check':1, 'Bank transfer (automatic)':2, 'Credit card (automatic)':3})

    # df['City Number'] = le.transform(df['City'])
    df['City Number'] = oe.transform(df[['City']])

    cols = ['City Number', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges']
    df = df[cols]

    return df

In [54]:
X_train_cl=cleaning_fct(X_train)

In [55]:
X_train_cl.head()

,City Number,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,...,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges
CustomerID,,,,,,,,,,,,,,,,,,,,,
9776-CLUJA,855.0,95829,"38.486502, -121.334051",38.486502,-121.334051,0,1,1,0,51,...,0,0,0,0,0,0,1,1,77.50,3807.35
3285-UCQVC,918.0,93955,"36.625114, -121.823565",36.625114,-121.823565,0,0,0,0,37,...,0,0,1,0,0,0,0,3,28.60,973.55
2371-JUNGC,238.0,95014,"37.306612, -122.080621",37.306612,-122.080621,1,0,0,0,11,...,2,2,2,2,2,0,0,0,20.25,208
1821-BUCWY,1052.0,93563,"34.39583, -117.734568",34.395830,-117.734568,1,0,0,0,30,...,0,1,0,0,0,1,1,0,55.65,1653.85
9337-SRRNI,838.0,95674,"38.954144, -121.482536",38.954144,-121.482536,1,0,0,1,66,...,2,2,2,2,2,1,1,3,25.30,1673.8

In [56]:
X_train_cl[['Zip Code']].nunique()

Zip Code    1639
dtype: int64

In [57]:
X_train_cl['Monthly Charges'].isnull().sum()

0

In [58]:
print(df['Total Charges'].unique())

['108.15' '151.65' '820.5' ... '7362.9' '346.45' '6844.5']

In [59]:
X_train_cl.columns # Columns in X_train

Index(['City Number', 'Zip Code', 'Lat Long', 'Latitude', 'Longitude',
       'Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Tenure Months',
       'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges'],
      dtype='object')

## Feature engineering

In [61]:
def feature_eng(df):
    
    # Create a copy of the data
    df = df.copy()
    
    # Drop longitude and latitude and Zip Code columns 
    df = df.drop(columns=['Longitude', 'Latitude', 'Lat Long', 'Zip Code'])
    
    # Convert the 'Total Charges' column to float
    df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')
    
    # Fill null values in Total Charges to 0
    df['Total Charges'].fillna(0, inplace=True)
    
    # Add aditional charges column 
    df['Additional charges'] = df['Total Charges'] - (df['Monthly Charges'] * df['Tenure Months'])
    
    return df

In [62]:
X_train_fe = feature_eng(X_train_cl)

In [63]:
null_indices = X_train_fe[X_train_fe['Total Charges'].isnull()].index
null_indices

Index([], dtype='object', name='CustomerID')

In [64]:
X_train_fe = feature_eng(X_train_cl)
X_train_fe.dtypes

City Number           float64
Gender                  int64
Senior Citizen          int64
Partner                 int64
Dependents              int64
Tenure Months           int64
Phone Service           int64
Multiple Lines          int64
Internet Service        int64
Online Security         int64
Online Backup           int64
Device Protection       int64
Tech Support            int64
Streaming TV            int64
Streaming Movies        int64
Contract                int64
Paperless Billing       int64
Payment Method          int64
Monthly Charges       float64
Total Charges         float64
Additional charges    float64
dtype: object

## Random Forest Model

### Developing the best model on the train

In [94]:
rf = RF() # Random Forests

#Step 1: Select parameters
rf_params = {
    'n_estimators': [10,20,50], 
    'max_depth': [3, 4, 5]
}

# Create a grid search object
gs = GridSearchCV(rf, param_grid=rf_params, cv=5, verbose = 1) 

# Fit grid search on the training set
gs.fit(X_train_fe, y_train)

# Save my best model as a random forest model
best_rf = gs.best_estimator_
# print score given by best estimator
print(gs.best_score_)
gs.best_estimator_

Fitting 5 folds for each of 9 candidates, totalling 45 fits
0.7983772819472617

RandomForestClassifier(max_depth=5, n_estimators=20)

In [96]:
print(list(zip(X_train_fe.columns, np.round(best_rf.feature_importances_,3))))

[('City Number', 0.012), ('Gender', 0.001), ('Senior Citizen', 0.006), ('Partner', 0.004), ('Dependents', 0.051), ('Tenure Months', 0.182), ('Phone Service', 0.0), ('Multiple Lines', 0.001), ('Internet Service', 0.059), ('Online Security', 0.176), ('Online Backup', 0.038), ('Device Protection', 0.016), ('Tech Support', 0.088), ('Streaming TV', 0.015), ('Streaming Movies', 0.015), ('Contract', 0.198), ('Paperless Billing', 0.009), ('Payment Method', 0.017), ('Monthly Charges', 0.046), ('Total Charges', 0.053), ('Additional charges', 0.011)]

In [ ]:
train_results = X_train_fe.copy()
train_results['y_pred'] = best_rf.predict(X_train_fe)
train_results['y_real'] = y_train
train_results['y_prob'] = best_rf.predict_proba(X_train_fe)[:,1]

In [ ]:
train_results.head(20)

### Using the model on the test set to evaluate

In [ ]:
X_test_cl=cleaning_fct(X_test)
X_test_fe=feature_eng(X_test_cl)

In [ ]:
X_test_fe.head()

In [ ]:
print(f'The training accuracy is :{best_rf.score(X_train_fe, y_train)}')
print(f'The testing accuracy is :{best_rf.score(X_test_fe, y_test)}')

In [ ]:
y_pred = best_rf.predict(X_test_fe)
metrics.confusion_matrix(y_test, y_pred)

In [ ]:
Test_pred = pd.DataFrame()
Test_pred['Actual'] = y_test
Test_pred['Predicted'] = y_pred
Test_pred.head()

## Using the model to assign probabilities to the entire data set

In [ ]:
results = df_fe.copy()
results['churn_pred'] = best_rf.predict(X_train_fe)
results['churn_prob'] = best_rf.predict_proba(X_train_fe)[:,1]